<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather Alert</title>
</head>
<body>
  <p>
    <%= 'Hello ' @user.username, '. This is a test of the weather email alert.' %>
  </p>
</body>
</html>