<h1>This is our dashboard view</h1>

<canvas id="myChart" width="900" height="400"></canvas>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Carb Calc Chart</h3>
            </div>
            <div class="panel-body">
              <canvas id="carbsChart" width="400" height = "400"></canvas>
                <div class="text-right">
                    <a href="/meals">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Activity Chart</h3>
            </div>
            <div class="panel-body">
              <canvas id="activityChart" width="400" height = "400"></canvas>
                <div class="text-right">
                    <a href="/meals">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>