<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">In the Glucosy Calculator, an exchange is the quantity of food that contains approximately 15g of carbohydrates.
    <p>Search for a food below, read the nutritional information and add your prescribed insulation exchange ratio. Glucosy will provide the Calculated Insulin Dosage.</p></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  <h3>Step 1: Search</h3>
    <form class="form-inline">
    <br>
      <input type="text" id="single-calc" placeholder="Enter a food" class="form-control">
      <br>
      <br>
      <a id="calculate" class="btn btn-default">Search</a>
    </form>

    <div id="search-results"></div>
    <!-- hide this div automatically and toggle the class when a search is made -->
  </div>

  <div class="col-md-4">
  <h3>Step 2: Read</h3>
    <form>
      <label for="calc-foodname">Name of food</label>
      <input type="text" id="calc-foodname" name="calc-foodname" class="form-control" readonly="readonly" required>

      <label for="calc-serving-size-qty">Serving size (qty)</label>
      <input type="text" id="calc-serving-size-qty" name="calc-serving-size-qty" class="form-control" readonly="readonly" required>

      <label for="calc-serving-size-unit">Serving size (unit)</label>
      <input type="text" id="calc-serving-size-unit" name="calc-serving-size-unit" class="form-control" readonly="readonly" required>

      <label for="calc-serving-size-weight">Serving size weight (g)</label>
      <input type="text" id="calc-serving-size-weight" name="calc-serving-size-weight" class="form-control" readonly="readonly" required>

      <label for="calc-carbs">Carbs</label>
      <input type="text" id="calc-carbs" name="calc-carbs" class="form-control" required>
      </div>

      <div class="col-md-4">
      <h3>Step 3: Calculate</h3>
      <label for="calc-quantity">Quantity</label>
      <input type="number" id="calc-quantity" name="calc-quantity" class="form-control" min="0.1" step="0.1" required>

      <label for="calc-bolus">Bolus Insulin Dose (unit)</label>
      <input type="text" id="calc-bolus" name="calc-bolus" class="form-control" required placeholder="(e.g 15g of carbs = 1 exchange of insulin)">
      <br>
      <div class="text-right">
        <button id="calc-it" class="btn btn-primary">Calculate Dosage</button>
      </div>
      <br>

      <div class="alert alert-warning" role="alert">
        <div id="insulin-amount" class="text-center"><span id="single-calc-dosage" class="badge dose">Calculated Insulin dosage: 0</span></div></p>
        <hr>
        <p><strong>Recommendation:</strong><br>Consult your healthcare professional for an individualised plan to ensure your insulin requirements are correct.
      </div>

    </form>
  </div>
</div>