<div id="page-wrapper container wrapper">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="home">
        <div class="container">
            <div class="media">

                <div class="media-body">
                    <div class="col-md-11">
                        <h1 class="title"><img src="http://i.imgur.com/gvGGKoc.png?1" width="100" alt=""> Glucosy</h1>

                        <p>Glucosy is a fast and free set of tools designed to help Type 1 Diabetics monitor and manage their dietary intake and blood sugar levels.</p>

                        <p><a class="btn btn-success btn-lg animated shake" href="<%= new_user_path %>" role="button">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="services">
        <!-- Example row of columns -->
        <div class="row features">
            <div class="col-lg-4 text-center">
                <div class="single-fet">
                    <div>
                    <span class="icon-stack icon-4x">
      <i class="icon-circle icon-stack-base"></i>
      <i class="icon-ok icon-light"></i>
    </span>
                    </div>
                    <h2> Insulin Calculator </h2>

                    <p>Calculates personalised insulin intake recommended based on individual health profiles against an extensive library of foods. <a href="/singlecalculation">Try it now!!!</a></p>

                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="single-fet">
                    <div>
                    <span class="icon-stack icon-4x">
      <i class="icon-circle icon-stack-base"></i>
      <i class="icon-laptop icon-light"></i>
    </span>
                    </div>
                    <h2> Health Dashboard </h2>

                    <p> Visualises personalised historical bloodsugar records, carbohydrate intake and physical activities undertaken to provide an overall view of health. <a href="/users/new">Learn more...</a></p>

                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="single-fet">
                    <div>
                    <span class="icon-stack icon-4x">
      <i class="icon-circle icon-stack-base"></i>
      <i class="icon-download-alt icon-light"></i>
    </span>
                    </div>
                    <h2> Blood sugar database </h2>

                    <p> Drag and drop your blood sugar level CSV data from your Accu-Chek device, for easy plug and play data visualisations. <a href="/users/new">Learn more...</a></p>

                </div>
            </div>

        </div>
    </div>


    <section class="slider" id="features">
        <div class="container">
            
            <div class="row inner-page">

                <div class="col-md-4 col-md-pull-8">
                    <div class="list-group">
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="pricing" id="pricing">

        <div class="container">
            <div class="row">
            </div>
        </div>


        <div class="container">
    <section class="about" id="clients">
        <div class="dmask">

        </div>
    </section>

    <section class="contact" id="contact">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <h2 class="short"><strong>Useful</strong> Resources</h2>
                        <ul>
                            <li><a href="http://www.diabetesaustralia.com.au/">Diabetes Australia</a></li>
                            <li><a href="http://www.mayoclinic.org/diseases-conditions/diabetes/basics/definition/con-20033091">Mayo Clinic</a></li>
                            <li><a href="http://www.ndss.com.au/">National Diabetes Services Scheme</a></li>
                        </ul>

                </div>
                <div class="col-md-offset-1 col-md-5">
                    <br/>
                    <h4 class="pull-top">Get in <strong>touch</strong></h4>

                    <p>We are a passionate group of individuals who are keen to transform healthcare. 
                    <hr>

                    <h4>The <strong>Office</strong></h4>
                    <ul class="unstyled">
                        <li><i class="icon-map-marker"></i> <strong>Address:</strong> 56 York Street, Sydney 2000, NSW, Australia
                        </li>
                        <li><i class="icon-phone"></i> <strong>Phone:</strong> 1300 779 580</li>
                        <li><i class="icon-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">glucosy@glucosy.com</a>
                        </li>
                    </ul>


                </div>


            </div>

        </div>

    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-ribbon" style="right: 0">
                    <h3 class="title" style="margin: 0;padding: 5px 10px"></h3>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p>&copy; Copyright 2015 by Glucosy</p>
                    </div>
                    <div class="col-md-7">
                    </div>
                </div>
            </div>
        </div>
    </footer>