<h1>landing</h1>

<%= link_to 'Sign Up', new_user_path %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat laudantium iure, accusantium eum ut impedit itaque eligendi officia unde praesentium harum fugiat amet necessitatibus sequi quas labore fugit, est velit.</p>
<p>Incidunt voluptatem perspiciatis repudiandae blanditiis accusantium, quo velit labore, eaque quis tempore vel, dignissimos expedita sit nam minus! Commodi adipisci, ducimus modi sapiente dolore cum aperiam ipsam at eveniet placeat.</p>
<p>Accusamus culpa doloribus quasi nisi, voluptatum et ratione, hic quaerat saepe praesentium recusandae, earum qui odit molestias dolores vel. Vel esse ipsum omnis error quidem nemo hic minima possimus dolor.</p>
