<h2>This page is for testing routes and links, making sure each CRUD works. Delete when finished.</h2>


<h3>Meals CRUD:</h3>

<ul>
  <li><%= link_to 'Index (show/edit/delete inside)', meals_path %></li>
  <li><%= link_to 'New Meal', new_meal_path %></li>
</ul>

<h3>Foods CRUD:</h3>

<ul>
  <li>Needs to be inside the actual meal, due to the nested routes</li>
  <li>Links in meal show pages?</li>
</ul>
