<h3>Rails form that saves data as food object (to be hidden?)</h3>

<%= render :partial => 'form' %>



<h3>Construct Meal</h3>


<div id="search-div">
  <input type="text" id="query" placeholder="Enter a food">
  <a href="#" id="search" class="btn btn-success">Search</a>
</div>

<div id="results-div">
  <ul id="search-results"></ul>
</div>

<div id="quantity-div">
  <p></p>
</div>
