<!-- <h2>Add a new food</h2>

<%= render :partial => 'form' %> -->


<h3>Construct Meal</h3>


<div id="search-div">
  <input type="text" id="query" placeholder="Enter a food">
  <a href="#" id="search" class="btn btn-success">Search</a>
</div>

<div id="results-div">
  <ul id="search-results"></ul>
</div>

<div id="quantity-div">
  <p></p>
</div>

<div id="foods-list">
  <p>You have added:</p>
  <ul id="foods-added">
    <!-- <li>s of foods added to meal to go here -->
  </ul>
</div>
