<h1>Upload Blood Glucose Data</h1>

<%= form_tag '/bloodsugars/import', method: :post, class: "dropzone", id: "bloodsugar-dropzone" do %>
 <div class="fallback">
   <%= file_field_tag "bloodsugar", multiple: true%>
 </div>
<% end %>

<h1>Bloodsugar results</h1>

    <table border="1" id="bloodsugar-table">
        <thead id = "data-table">
            <tr>
                <th title="Field #1">Date</th>
                <th title="Field #2">Result</th>
            </tr>
        </thead>
        <tbody>
<script type ="x-handlebars-template" id="bloodsugarTemplate">
            <tr class = "readings-row">
                <td>{{readingtime}}</td>
                <td align="right">{{bslevel}}</td>
            </tr>
</script>
        </tbody>
    </table> 


<!-- ENSURE THAT BLOOD READING CORRESPONDS TO USER SESSION -->


