<h1>Upload Blood Glucose Data</h1>

<%= form_tag '/bloodsugars/import', method: :post, class: "dropzone", id: "bloodsugar-dropzone" do %>
 <div class="fallback">
   <%= file_field_tag "bloodsugar", multiple: true %>
 </div>
<% end %>

<h1>Blood Glucose Results</h1>
    <table border="1" id="bloodsugar-table">
        <thead id = "data-table">
            <tr>
                <th title="Field #1">Date</th>
                <th title="Field #2">Result</th>
            </tr>
        </thead>
        <tbody>
        <!-- Handlebars will render this - see script tags on application.html.erb -->
        </tbody>
    </table> 