<h1>Upload Blood Glucose Data</h1>

<%= form_tag '/bloodsugars/import', method: :post, class: "dropzone", id: "bloodsugar-dropzone" do %>
 <div class="fallback">
   <%= file_field_tag "bloodsugar", multiple: true%>
 </div>
<% end %>


<h1>Show all files</h1>

<% if @bloodsugars.empty? %>
  <h5 id="no-bloodsugar">No Media Found</h5>
<% else %>
  <% @bloodsugars.each do |bloodsugar| %>
    <%= bloodsugar.bslevel %>
    <%= bloodsugar.readingtime %>
  <% end %>
<% end %>

