<h2>Activities Index</h2>

<ul>
    <% @activities.each do |activity| %>
        <li><%= link_to activity.activityname, activity_path(activity) %>: <%= activity.activity_time.strftime('%e %B %Y, %R') %> <span class="badge">Intensity: <%= activity.intensity %></span></li>
    <% end %>
</ul>

<%= link_to 'Add New Activity', new_activity_path, :class => 'btn btn-primary' %>