<!DOCTYPE html>
<html>
<head>
  <title>DiaBeatEase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>this is just a test paragraph</p>
<%= yield %>

</body>
</html>
